In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('KC_case_data .csv')

In [3]:
df.date.min()

'2020-01-01'

In [4]:
df.date.max()

'2020-03-31'

In [5]:
df.shape

(2747968, 8)

In [6]:
mindate = df.sort_values('date').drop_duplicates('device_id')

In [7]:
df['device_id'].nunique()

190884

In [8]:
mindate['device_id'].nunique()

190884

In [9]:
mindate = mindate[['device_id', 'date']]
mindate = mindate.rename(columns={'date':'First_session_cohort'})

In [10]:
mindate

         device_id First_session_cohort
0           669460           2020-01-01
13192     17289661           2020-01-01
13191     12215118           2020-01-01
13190      9163079           2020-01-01
13189      1948894           2020-01-01
...            ...                  ...
2497656    5682834           2020-03-31
2499467    9339041           2020-03-31
2499780   32346202           2020-03-31
2498997   23772077           2020-03-31
2502736    1870546           2020-03-31

[190884 rows x 2 columns]

In [11]:
df = df.merge(mindate, on='device_id', how='left')

In [12]:
df

,date,event,purchase_sum,os_name,device_id,gender,city,utm_source,First_session_cohort
0,2020-01-01,app_start,NaN,android,669460,female,Moscow,-,2020-01-01
1,2020-01-01,app_start,NaN,ios,833621,male,Moscow,vk_ads,2020-01-01
2,2020-01-01,app_start,NaN,android,1579237,male,Saint-Petersburg,referal,2020-01-01
3,2020-01-01,app_start,NaN,android,1737182,female,Moscow,facebook_ads,2020-01-01
4,2020-01-01,app_start,NaN,ios,4029024,female,Moscow,facebook_ads,2020-01-01
...,...,...,...,...,...,...,...,...,...
2747963,2020-03-31,register,NaN,android,2984778,male,Saint-Petersburg,facebook_ads,2020-03-28
2747964,2020-03-31,register,NaN,ios,27301864,male,Moscow,-,2020-03-31
2747965,2020-03-31,register,NaN,ios,1294285,female,Saint-Petersburg,google_ads,2020-03-31
2747966,2020-03-31,register,NaN,android,3010574,female,Saint-Petersburg,google_ads,2020-03-06
2747967,2020-03-31,register,NaN,android,11153353,female,Saint-Petersburg,-,2020-03-31

In [ ]:
df.to_csv('data_for_analysis.csv', index=False)